
  .hero {
    position: relative;
    height: 100vh; 
    background-image: url('./src/assets/hero-image.jpg'); 
    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-image: url('./src/assets/hero-image.jpg'); 
    background-size: cover;
    background-position: center;
    transform: scaleX(1); 
    /* Mirrors the background image horizontally */
    z-index: 1;
  }
  
  /* Hero Overlay */
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Dark semi-transparent overlay */
    z-index: 1;
  }
  
  /* Hero Content */
  .hero-content {
    text-align: left;
    padding-left: 80px;
    padding-top: 160px;
  }

  #Headline{
    font-size: 100px;
    font-family: monospace;
    background-image: linear-gradient(to bottom, #53D9FC,#03459B);
    background-position: relative; /* Gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex; 
    flex-direction: column; 
    justify-content: left;
    align-items: left;
    text-align: left;
    animation: slideIn 2.5s ease-in-out forwards;
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Fully transparent */
    }
    100% {
      transform: translateX(0); /* End at normal position */
      opacity: 1; /* Fully visible */
    }
  }

  #header-subtitle{
    color: #F1F9FF;
    animation: fadeInEffect 2s ease-in-out forwards; 
    animation-delay: 2.5s; /* Delay the animation */
    opacity: 0;
  }

  @keyframes fadeInEffect {
    0% {
      opacity: 0;  /* Element starts fully transparent */
    }
    100% {
      opacity: 1;  /* Element becomes fully visible */
    }
  }


