
  .hero {
    position: relative;
    height: 100vh; 
    background-image: url('./src/assets/hero-image.jpg'); 
    background-size: cover;
    background-position:center; 
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
  }

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-image: url('./src/assets/hero-image.jpg'); 
    background-size: cover;
    background-position: center;
    transform: scaleX(1); 
    /* Mirrors the background image horizontally */
    z-index: 1; /* Makes sure the image stays behind the text */
  }
  
  /* Hero Overlay */
  .hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); /* Dark semi-transparent overlay */
    z-index: 1;
  }
  
  /* Hero Content */
  .hero-content {
    text-align: left;
    padding-left: 80px;
    padding-top: 160px;
  }

  #Headline{
    font-size: 100px;
    font-family: monospace;
    background-image: linear-gradient(to bottom, #F1F9FF,#FA3007); /* Gradient colors */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: flex; 
    flex-direction: column; 
    justify-content: left;
    align-items: left;
    text-align: left;
    position: relative;
    animation: slideIn 2s ease-in-out forwards;
  }

  #Headline span {
    display: inline-block;  /* Ensure divs appear in a row */
    font-size: 50px;
    font-weight: bold;
    border-bottom: 2px solid #FA3007;
    width: 250px;
    padding-bottom: 5px; /* Space between text and underline */
  margin-bottom: 40px; /* Optional: Space between the divs */
  margin-right: 10px; 
  position: relative;
  opacity: 1;
  }

  #Headline span::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Position it just below the text */
    left: 0;
    width: 100%; /* Same width as the text */
    height: 2px; /* Match the thickness of the border */
    background-color: #FA3007; /* Same color as the underline */
    filter: blur(2px); /* Apply blur to the underline */
    opacity: 0.7; /* Make it slightly transparent */
    box-shadow: 0 0 8px 3px rgba(250, 48, 7, 0.6); /* Apply glow effect */
    z-index: 1; /* Make sure it's under the text */
  }

  @keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off-screen to the left */
      opacity: 0; /* Fully transparent */
    }
    100% {
      transform: translateX(0); /* End at normal position */
      opacity: 1; /* Fully visible */
    }
  }

  #Headline div:nth-child(1) {
    animation-delay: 0.2s; /* Delay for the first div */
  }
  
  #Headline div:nth-child(2) {
    
    animation-delay: 0.4s; /* Delay for the second div */
  }

  #Headline div:nth-child(3) {
    animation-delay: 0.6s; /* Delay for the second div */
  }

