.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background-color: black;
}
#NavBarTitle{
  padding-top: 20px;
  color: #F1F9FF;
  padding-left: 50px;
  font-size: 25px;
  border: none;
}


#formbutton {
  margin-top: 20px;
  margin-left: 680px;
  padding-top: 20px;
  padding-left: 15px; /* Add some padding for better spacing inside the button */
  padding-right: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  border-radius: 50px; /* Make the button pill-shaped */
  background-image: radial-gradient(circle, #53D9FC, #012549); /* Radial gradient */
  color: #F1F9FF; 
  border: none; 
  text-align: center; 
  font-weight: bold; 
  cursor: pointer; 
}

#formbutton:hover {
  background-image: radial-gradient(circle, #012549, #53D9FC); /* Reverse gradient effect on hover (optional) */
}

.offcanvas{
  background-image: linear-gradient(to bottom,#53D9FC, #012549);
  color: #F1F9FF;
  padding: 10px;
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.offcanvas-title{
  color: #012549;
  font-size: 30px !important;
  font-weight: bold;
  -webkit-background-clip: text;
  background-clip: text;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.nav-link{
  color: #012549 !important;
  font-size: 30px !important; 
}

.nav-link:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  color: #F1F9FF !important;
}

.navbar-toggler{
  margin-top: 20px;
  border: white !important;
}

.nav-icon{
  width: 28px;
  height: 28px;
  margin-right: 10px;
}